* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	padding: 5px 20px 30px 20px;
	font-family: sans-serif;
	color: #a46bac;
	font-weight: lighter;
	background-image: url("img/main1.png");
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 400px;
	margin: 0 auto;
}

nav {
	display: flex;
	align-content: space-between;
	font-size: 18px;
	align-items: center;
}
nav > i:nth-child(3) {
	margin-left: auto;
	padding-right: 10px;
}
nav > a:nth-child(3) {
	margin-left: auto;
	padding-right: 10px;
}
nav > img {
	padding-left: 15px;
}
img#logo-nav {
	padding: 3px 0 0 15px;
}
.dropbtn-bars {
	padding: 0;
	border: 0;
	background-color: transparent;
	color: #a46bac;
	text-align: center;
	font-family: "Roboto-Thin.ttf", sans-serif;
	font-size: 25px;
}
.dropbtn-bars:hover {
	cursor: pointer;
}

/*Title*/
.title-container {
	font-family: "Roboto-Thin.ttf", sans-serif;
	color: #a46bac;
	font-weight: lighter;
	text-align: center;
	margin: 15px auto;
}
.titleArrowContainer {
	display: flex;
	align-items: center;
}
.title {
	display: flex;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	justify-content: center;
}
.title > .btnArrow {
	padding-right: 20px;
}

/*LOGOS*/
.logoHeart > img {
	display: block;
	margin: 15px auto;
}
img.logo {
	display: block;
	margin-left: auto;
	margin-right: 70px;
	width: 50%;
}

/*Name input box*/
.fullName {
	border: none;
	font-size: 12px;
	padding: 8px 13px;
	border-radius: 20px;
	border: 1px solid #f0eafa;
	text-decoration-color: #a46bac;
	width: 100%;
}

/*Email input box*/
.emailBar {
	margin-top: 15px;
}
.email {
	border: none;
	font-size: 12px;
	padding: 8px 13px;
	border-radius: 20px;
	border: 1px solid #f0eafa;
	width: 100%;
}

/*Password input box*/
.pwdBar {
	margin-top: 15px;
}
.pwd {
	border: none;
	font-size: 12px;
	padding: 8px 13px;
	border-radius: 20px;
	border: 1px solid #f0eafa;
	width: 100%;
}
div.pwdBar i.fas {
	position: absolute;
	margin-top: 10px;
	margin-left: 150px;
	color: #070707;
	font-size: 12px;
}

/*----Button----(on signup page)*/
.mainBtn {
	border: 0;
	line-height: 2;
	padding: 0 40px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #ffffff;
	text-shadow: 1px 2px 5px #48948f;
	border-radius: 20px;
	background-color: #62c3bc;
	box-shadow: inset 1px 1px 2px #acf1ec, inset -1px -1px 5px #4da09a, 1px 1px 5px #a9a7a7;
	width: 80%;
}
.mainBtn:hover {
	background-color: #91ddd8;
	transition-duration: 0.3s;
	cursor: pointer;
	box-shadow: inset 1px 1px 2px #cfeeeb, inset -1px -1px 5px #cfeeeb;
}
.btn1 {
	display: block;
	margin: 15px auto;
	text-align: center;
	/*padding: 120px 20px 10px 20px;*/
}

/*----Login page BUTTONS & POSITION-----*/

/*Button-Login page*/
.loginBtn {
	border: none;
	background-color: inherit;
	padding: 0px 5px 3px 5px;
	font-size: 16px;
	cursor: pointer;
	color: #a46bac;
}
.loginBtn:hover {
	text-shadow: 1px 2px 5px #a46bac;
}
.btn2 {
	display: block;
	margin: 15px auto;
	text-align: center;
}

/*Login link*/
.loginLink {
	font-size: 12px;
	text-align: center;
}
a {
	color: #a46bac;
}
a:hover {
	text-shadow: 1px 2px 5px #a46bac;
	text-decoration: underline;
}

/*---FORMS---*/
form {
	text-align: center;
	margin: 0 auto;
	width: 250px;
	padding-bottom: 30px;
}
/*Checkout form*/

.firstNameBar,
.lastNameBar,
.cardNumber,
.cardInfoBars,
.monthBar,
.yearBar,
.codeBar {
	margin: 10px 5px 0;
}
.firstName,
.lastName,
.number,
.month,
.year,
.code,
.e-mail,
.name {
	border: none;
	font-size: 12px;
	padding: 8px 13px;
	border-radius: 10px;
	border: 1px solid #f0eafa;
	width: 100%;
}
.nameBars {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.cardInfoBars {
	display: flex;
	flex-direction: row;
}

/*Booking form*/
.message {
	border: none;
	font-size: 12px;
	padding: 8px 13px;
	border-radius: 10px;
	border: 1px solid #f0eafa;
	width: 100%;
	height: 150px;
}
input.message {
	padding-bottom: 110px;
}
.checkoutForm-booking {
	padding-top: 30px;
}
input > .name,
.e-mail,
.number,
.message {
	margin: 10px 5px 0;
}
/*--Buttons--*/
.button {
	padding: 0;
	border: 0;
	width: 180px;
	height: 90px;
	text-align: center;
	top: 300px;
	left: 400px;
	position: inherit;
	font-family: "Roboto-Thin.ttf", sans-serif;
	font-size: 18px;
	display: block;
	border-radius: 10px;
	margin: 15px auto;
	box-shadow: inset 1px 1px 2px #94c0bd, inset -1px -1px 5px #4da09a, 1px 1px 5px #a9a7a7;
}
.button:hover {
	transition-duration: 0.3s;
	cursor: pointer;
	box-shadow: inset 1px 1px 2px #e1f1f1, inset -1px -1px 5px #e1f1f1;
}
.cakeBtn {
	background: url(img/cake.png);
	background-size: cover;
}
.chocBtn {
	background: url(img/chocolate.png);
	background-size: cover;
	opacity: 50%;
}
.pieBtn {
	background: url(img/pie.png);
	background-size: cover;
	opacity: 50%;
}
.pastryBtn {
	background: url(img/pastry.png);
	background-size: cover;
	opacity: 50%;
}
.btnFb {
	padding: 0;
	border: 0;
	width: 50px;
	height: 50px;
	color: #ffffff;
	font-size: 30px;
	background-color: #91ddd8;
	border-radius: 50px;
	margin: 15px auto;
	box-shadow: 1px 1px 5px #a9a7a7;
}
.btnFb:hover {
	transition-duration: 0.3s;
	cursor: pointer;
	box-shadow: inset 1px 1px 2px #e1f1f1, inset -1px -1px 5px #e1f1f1;
}
button.btnFb {
	display: block;
	margin: 0 0 0 auto;
}
.btnArrow {
	padding: 0;
	border: 0;
	width: 30px;
	height: 30px;
	background-color: transparent;
	color: #a46bac;
	text-align: center;
	font-family: "Roboto-Thin.ttf", sans-serif;
	font-size: 25px;
	border-radius: 60px;
	box-shadow: #f1dbf5;
}
.btnArrow:hover {
	transition-duration: 0.3s;
	cursor: pointer;
	text-shadow: mediumorchid;
}
.btnBasket,
.btnMinus,
.btnPlus {
	padding: 0;
	border: 0;
	width: 35px;
	height: 30px;
	background-color: #58a5a0;
	color: #ffffff;
	text-align: center;
	font-family: "Roboto-Thin.ttf", sans-serif;
	font-size: 18px;
	border-radius: 10px;
	margin: 15px auto;
	box-shadow: inset 1px 1px 2px #94c0bd, inset -1px -1px 5px #4da09a, 1px 1px 5px #94c0bd;
}
.btnBasket,
.btnMinus,
.btnPlus:hover {
	transition-duration: 0.3s;
	cursor: pointer;
	box-shadow: rgb(10, 15, 13);
}

/*----Cakes page- w/JS-DATABASE-----*/
main > section {
	display: grid;
}
article {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 10px 0 0 50px;
}
.imgProd {
	width: 100px;
	height: 120px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: black;
}
.products > #category {
	display: none;
}
#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #5ab1ab;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 15px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 20px;
}
#snackbar.show {
	visibility: visible; /* Show the snackbar */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

/*----Dropdown Menu----*/
.dropdown {
	background-color: #f9f8fa;
	background-image: url(img/dropmenuBG.png);
	width: 280px;
	height: 500px;
	box-shadow: 0px 6px 10px 0px #cecdce;
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	z-index: 99;
}
div#myDropdown {
	padding-top: 35px;
}
.show {
	display: flex;
	flex-direction: column;
}
.hide {
	display: none;
}
.menu-options {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: center;
	justify-content: space-between;
}
#myDropdown h3 {
	text-align: center;
}
#myDropdown a {
	padding-top: 20px;
	text-decoration: none;
}
.dropbtn-cross {
	padding: 1px 0 0 10px;
	border: 0;
	background-color: transparent;
	color: #a46bac;
	text-align: left;
	font-family: "Roboto-Thin.ttf", sans-serif;
	font-size: 25px;
}
.dropbtn-cross:hover {
	cursor: pointer;
}
input.search {
	border: 1px solid #f0eafa;
	font-size: 14px;
	padding: 8px 10px;
	border-radius: 20px;
	display: flex;
	margin: auto;
	width: 90%;
}
div.search i.fas {
	position: absolute;
	margin-top: 11px;
	margin-left: 220px;
	color: #afafaf;
	font-size: 12px;
	color: #a46bac;
}
a.logOut {
	align-self: center;
	padding: 80px;
	text-decoration: none;
}

/*----Custom page ----*/
.container-custom img {
	border-radius: 20px;
	width: 100%;
}
div.container-custom {
	margin: 15px auto;
}
.container-custom button {
	position: absolute;
	margin-top: 15px;
	margin-left: 10px;
	color: #a46bac;
	font-size: 25px;
	border: none;
	cursor: pointer;
}
.container-custom button:hover {
	background-color: #d3bbd6;
}
h3.custom {
	margin: 20px 0 10px 0;
}
.choice-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.choice-container label {
	font-weight: 18px;
}
select#event,
select#flavour,
select#diet {
	font-size: 12px;
	color: #a46bac;
	padding: 5px 10px;
	border-radius: 20px;
	border: 1px solid #f0eafa;
	width: 90%;
	margin: 5px 0 15px 0;
}
button.btnFb {
	display: block;
	margin: -50px 320px;
	position: fixed;
}
/*---Singe product page---*/
.filling-types {
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-gap: 5px;
}

/*---Basket page---*/
.prodContainer {
	display: block;
}
.checkoutImg {
	max-height: 80px;
	border-radius: 10px;
}
.addedProd {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 20px;
}
.addedProd h4 {
	margin-top: 10px;
	margin-right: 40px;
}
.btnPM {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin-top: -30px;
	max-width: 90%;
}
.btnMinus,
.btnPlus {
	margin: 0 10px;
}
.priceLine {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 35px;
}
.priceBox {
	padding-top: 190px;
}
.divLine-basketpg {
	border: 1.5px solid #d2b0d6;
	opacity: 50%;
	border-radius: 10px;
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
	z-index: 1;
}

/*---Checkout page---*/
.paymentCont {
	margin: 10px 50px;
}
.paymentCont p {
	margin-left: 10px;
	margin-bottom: 10px;
}
.checkout-options {
	display: flex;
	justify-content: space-around;
	padding: 20px 30px 30px 30px;
}

/*---About page---*/
/*body.about-us {
	background-image: url("img/background-nav.png");
}*/
p.about-text {
	padding-bottom: 10px;
}
h4 {
	margin-top: 20px;
}
hr.about-line {
	border: 1.5px solid #d2b0d6;
	opacity: 50%;
	border-radius: 10px;
	width: 10%;
	margin-bottom: 10px;
	z-index: 1;
}
.contact-info {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.contact-info > p {
	padding-bottom: 10px;
}
.fa-envelope:before,
.fa-mobile-alt,
.fa-map-marker-alt,
.fa-instagram,
.fa-facebook-f {
	color: #62c3bc;
	margin-right: 10px;
}
div.signupBtn {
	padding-top: 15px;
}
button.mainBtn.signup {
	width: 40%;
}
/*---Profile page---*/
.image-placeholder {
	background-color: #eee;
	display: flex;
	height: 130px;
	margin: 15px;
	width: 130px;
}
.image-placeholder > h4 {
	align-self: center;
	text-align: center;
	width: 100%;
	margin-top: 0;
}
.profile-placeholder {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-self: center;
}
.info-placeholder {
	margin-top: 25px;
	margin-left: 15px;
}
.fa-calendar-alt,
.fa-gifts {
	margin-right: 15px;
}
.meetings {
	margin: 25px 0 25px 0;
}
.meeting-placeholder {
	background-color: #e2c2e5;
	display: flex;
	align-self: center;
	height: 30px;
	margin: 10px auto;
	width: 300px;
	border-radius: 10px;
	text-align: center;
}
.meeting-placeholder > p {
	width: 100%;
	margin: 5px;
}
.fa-pen-square:before {
	margin-left: 50px;
}
.stamp-text {
	margin: 15px auto;
	text-align: center;
}
.profileBtn {
	margin: 15px auto;
	display: block;
	text-align: center;
	padding-top: 100px;
}
button.mainBtn.profile {
	width: 50%;
}

/*----Responsivity-----*/
/*@media all and (min-width: 900px) {
}*/
